/* Custom site-wide CSS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

.bowfolio-green {
  color:  #024731;
}

.white-text {
  color: white;
}

.landing-green-background {
  background-color: #024731;
  color: white;
  padding-top: 20px;
}



.landing-white-background {
  background-color: white;
  color: #024731;
  padding-top: 20px;
}

.reset-margins {
  margin-top: 0;
  margin-bottom: 0;
}

.header-background {
  background: url("https://www.thesierralight.com/images/xl/oahurainbowpano1.jpg") no-repeat center center;
  background-size: 100% 100%;
}

.middle-background {
  padding-bottom: 125px;
  padding-top: 50px;
}

.parent {
  background-color: #024731;
}


